<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/innovaciones/blob/main/propuesta/reduccion_dim_clasificacion_regresion/0_intro_python/dia_9/dia_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
  <td>
    <a target="_blank" href="https://kaggle.com/kernels/welcome?src=https://github.com/marco-canas/innovaciones/blob/main/propuesta/reduccion_dim_clasificacion_regresion/0_intro_python/dia_9/dia_9.ipynb"><img src="https://kaggle.com/static/images/open-in-kaggle.svg" /></a>
  </td>
</table>

# ¿Cómo leer el dataset desde una url de Github con pandas?

## [video de apoyo](https://www.youtube.com/watch?v=uB9WcIpsdUc)

## Desde Github (archivos <25 MB)

La forma más sencilla de cargar un archivo CSV es desde su repositorio de GitHub.

Haga clic en el conjunto de datos en su repositorio, luego haga clic en Ver sin procesar (View Raw).

Copie el vínculo al conjunto de datos sin procesar y guárdelo como una variable de cadena llamada url en Colab como se muestra a continuación (un método más limpio, pero no es necesario).

El último paso es cargar la URL en Pandas read_csv para obtener el marco de datos.

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/marco-canas/innovaciones/main/prop/reduccion_dim_clasificacion_regresion/0_intro_python/dia_9_first_model/train.csv'

In [3]:
iowa_data = pd.read_csv(url)

In [5]:
iowa_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## Cómo crear dataframe y filtar columnas

1. un array de numpy 
2. una lista de índices
3. una lista de columnas

In [6]:
import numpy as np

In [7]:
arreglo = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])

In [9]:
indices = ['A','B','C', 'D']

In [10]:
columnas = ['col_1', 'col_2', 'col_3' ]

In [11]:
df = pd.DataFrame(arreglo, index = indices, columns = columnas)

In [12]:
df

   col_1  col_2  col_3
A      1      2      3
B      4      5      6
C      7      8      9
D     10     11     12

In [14]:
df.filter(items = ['col_1', 'col_3'])

   col_1  col_3
A      1      3
B      4      6
C      7      9
D     10     12