# Práctica de reducción dimensional utilizando solo herramientas de visualización

In [13]:
import numpy as np 
import pandas as pd

In [14]:
housing = pd.read_csv('housing.csv') 
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [15]:
housing.keys()

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [16]:
housing = housing.loc[:,['longitude', 'latitude', 'population', 'median_income','median_house_value']]

In [17]:
housing.head()

   longitude  latitude  population  median_income  median_house_value
0    -122.23     37.88       322.0         8.3252            452600.0
1    -122.22     37.86      2401.0         8.3014            358500.0
2    -122.24     37.85       496.0         7.2574            352100.0
3    -122.25     37.85       558.0         5.6431            341300.0
4    -122.25     37.85       565.0         3.8462            342200.0